.About-header {
  background-image: url(../../assets/about_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  color: 282c34;
  font-size: 100%;
  padding-top: 15px;
  min-height: 93vh;
}

.Vertical {
  box-shadow: 0 0 8px 6px rgba(173, 173, 173, 0.16);
  width: 4px;
  position: relative;
  border: 0;
  height: auto;
  background: #ffffff73;
}

.split {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 50%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

ul {
  list-style: circle;
}

.title {
  top: 0;
  padding-bottom: 0.6rem;
  text-align: center;
  color: #5e2e8b;
  background-color: rgba(0, 0, 0, 0.123);
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.title > h2 {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 359px) {
  .title > h2 {
    font-size: 1.5rem;
  }
}

.centered {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  overflow-y: hidden;
  margin: auto;
  width: 90%;
  font-size: 3vh;
}

.centered > h3 {
  font-size: 3vh;
  margin-bottom: 2rem;
}
.centered > h4 {
  font-size: 90%;
}

.languages {
  margin-top: 30px;
}

.languages > ul > li {
  font-size: 100%;
}
