.Home {
  text-align: center;
  background-image: url(../../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Home-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 700px) {
  .Home-header {
    font-size: calc(10px + 3vmin);
  }
}
