.contact-container {
  background-image: url(/src/assets/contactbg.png);
  height: auto;
  width: 100vw;
  max-width: 100%;
  min-height: 93vh;
  padding-top: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.contact-container > h2 {
  color: #5e2e8b;
  padding-top: 1rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-shadow: 1px 2px white; */
  font-weight: bold;
  padding-bottom: 1rem;
  background-color: rgba(119, 119, 119, 0.123);
  box-shadow: 2px 3px 3px #303030;
}

/* FORM */

#feedback-page {
  text-align: center;
}

.container {
  padding-top: 0px;
  width: 100%;
  height: 700px;
}

#form-main {
  display: flex;
  justify-content: center;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  position: absolute;
  margin-top: 30px;
  border-radius: 7px;
  box-shadow: 2px 3px 3px #303030;
}

.montform .feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 2px 3px 3px #303030;
  border-radius: 3px;
}
/*Inputs styles*/
.montform .feedback-input:focus {
  background: #fff;
  border: 3px solid #7e3bbc;
  color: #7e3bbc;
  outline: none;
  padding: 13px 13px 13px 54px;
}

/* Icons ---------------------------------- */
.montform #name {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #name:focus {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #email {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #email:focus {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #subject {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/icons/question-square-fill.svg);
  background-size: 25px 25px;
  background-position: 14px 11px;
  background-repeat: no-repeat;
}

.montform #comment {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: none;
}

.montform input:hover,
.montform textarea:hover,
.montform input:focus,
.montform textarea:focus {
  background-color: #e6e6e6;
}

.button-blue {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 2px;
  cursor: pointer;
  background-color: #7e3bbc;
  color: white;
  font-size: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  box-shadow: 2px 3px 3px #303030;
  border-radius: 5px;
}

.button-blue:disabled {
  background-color: grey;
  color: whitesmoke;
}

.button-blue:hover:enabled {
  background-color: rgba(0, 0, 0, 0);
  color: #7e3bbc;
}

.montform .submit:hover:enabled {
  color: #7e3bbc;
}

.ease {
  width: 0px;
  height: 70px;
  background-color: #fbfbfb;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

/* FOOTER */
.footer {
  width: 100%;
  /* margin-top: -20px; */
  text-align: center;
  position: absolute;
  bottom: 0px;
}

/*Styles for small screens*/

@media only screen and (max-width: 580px) {
  #form-div {
    width: 88%;
  }
}
