/*---------Header---------*/

.Header {
  position: fixed;
  top: 0; /* Stick it to the top */
  max-height: 70px;
  width: 100vw;

  display: grid;
  grid-template-areas: "logo nav";

  /* Cosmetics */
  background-color: rgba(0, 0, 0, 255);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.5);
  z-index: 3;
}

.Logo {
  grid-area: logo;
  height: 70px;
  padding-left: 2rem;
}

.Nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
}
.Nav a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
}

.Nav a:hover {
  transform: scale(1.1);
}

.Nav > .active {
  color: #7e3bbc;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0 0 1px #b776f3;
}

.Nav button {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: 70ms;
}

.Nav button:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
  color: aqua;
}

.navbar-toggler {
  width: 80px;
  position: fixed;
  right: 0px;
  top: 4px;
}

@media (max-width: 700px) {
  .Header {
    grid-template-areas: "logo burger" "nav nav";
  }
  .Nav {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;

    padding: 30px 0 30px;
    background: rgba(40, 44, 47, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media screen and (min-width: 700px) {
  .navbar-toggler {
    visibility: hidden;
  }
}
