/*---------Header---------*/

.Header {
  position: fixed;
  top: 0; /* Stick it to the top */
  max-height: 70px;
  width: 100vw;

  display: grid;
  grid-template-areas: "logo nav";

  /* Cosmetics */
  background-color: rgba(0, 0, 0, 255);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.5);
  z-index: 3;
}

.Logo {
  grid-area: logo;
  height: 70px;
  padding-left: 2rem;
}

.Nav a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  text-shadow: 2px 2px #7e3bbc;
}

.Nav a:hover {
  transform: scale(1.1);
}

.Nav > .active {
  color: #9354ce;
  /* font-weight: bold; */
  font-size: 1.5rem;
  text-shadow: 2px 2px #d9b0ff3f;
}

.Nav button {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: 70ms;
}

.Nav button:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
  color: aqua;
}

.navbar-toggler {
  width: 80px;
  position: fixed;
  right: 0px;
  top: 4px;
}

.navbar.navbar-expand-lg {
  padding: 0px !important;
  margin: 0px !important;
}

/* Mobile */
@media (max-width: 700px) {
  .Header {
    grid-template-areas: "logo burger" "nav nav";
  }
  #navbarNav {
    margin-top: 70px !important;
    display: flex !important;
    /* grid-area: nav !important; */
    flex-direction: column !important;
    /* grid-template-rows: repeat(2, auto) !important;
    grid-template-columns: none !important; */
    grid-row-gap: 20px !important;
    padding: 10px 0px 30px 0px !important;
    background-color: rgba(40, 44, 47, 1) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6) !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top: 2px solid #7e3bbc;
    text-shadow: 2px 2px #7e3bbc;
  }
  #navbarNav.collapse:not(.show) {
    display: none !important;
  }
}

/* Fullscreen */
@media screen and (min-width: 701px) {
  .navbar-toggler {
    visibility: hidden;
  }
  #navbarNav {
    display: grid !important;
    grid-area: nav !important;
    grid-template-columns: repeat(4, auto) !important;
    align-items: center !important;
    justify-items: center !important;
  }
}
