.unity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  max-width: 100%;
}

#divider-container {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  border: 1px solid rgba(0, 128, 0, 0);
}

.divider-lightbg {
  background-image: url(assets/dividerlight.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 75px;
  margin: auto;
  margin-top: 0.5rem;
}

.divider-darkbg {
  background-image: url(assets/dividerdark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 75px;
  margin: auto;
}

.divider-dot-lightbg {
  background-image: url(assets/dividerlight2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 75px;
  margin: auto;
}

.divider-dot-darkbg {
  background-image: url(assets/dividerdark2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 75px;
  margin: auto;
}
